/pilas-colas/nbproject/private/
/pilas-colas/build/
/multipilas/nbproject/private/
/multipilas/build/
/demo1/nbproject/private/
/demo1/build/
/multiples-pilas/nbproject/private/
/multiples-pilas/build/
/informe2/nbproject/private/
/informe2/build/
/exl131/nbproject/private/
/exl131/build/